@import url("https://fonts.cdnfonts.com/css/general-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    width: 100dvw;
    overflow-x: hidden;
    font-family: "Tinos", sans-serif;
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
    .absolute-center {
        @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .nav-hover-btn {
        @apply relative ms-10 uppercase text-text-primary after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-black cursor-pointer;
    }

    .project-paragraph {
        @apply text-[17px] md:text-[18px] text-neutral-700 leading-[1.9] tracking-[0.015em];
    }
}